.padded {
  padding: 0 2em;
}
.about-section {
  color: var(--text-color);
}

.about-section a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.about-section a:after {
  position: absolute;
  height: 1px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: var(--blue);
  visibility: hidden;
  content: "     ";
  transform: scaleX(0);
  -webkit-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1.3);
  -moz-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1.3);
  -ms-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1.3);
  -o-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1.3);
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1.3);
}
.about-section a:hover {
  text-decoration: none;
  color: var(--blue);
}
.about-section a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
