.header-image-container {
  text-align: center;
}
.header-image {
  height: 35vh;
  margin-top: 1em;
  margin-bottom: 0.1em;
}
.title-wrapper {
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  width: 100%;
  color: var(--text-color);
}
.align-right {
  text-align: right;
}
